<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <h1>Error</h1>
    <br><hr>
    <h3>You didn't manage to register for the following reason:</h3>
    <h4>You are not allowed to register as you are of Age 13</h4>
    <h5>Your request for tickets have exceed the event size</h5>
    <br>
    <br>
    <button type="button" onclick="location.href='/EventListing.html';">Back To Event Listing</button>
</body>
</html>